/* Set a base font size using a variable */
:root {
    --base-font-size: 1vh; /* You can adjust the value as needed */
}

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for Navbar */
.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

.navbar-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.4vh 1.6vh; /* Adjust padding using vh units */
    text-decoration: none;
    font-weight: bold;
}

.navbar-item:hover {
    background-color: #333;
}

/* Styling for center image */
.center-image {
    display: block;
    margin: 0 auto;
    margin-top: 2vh; /* Adjust margin using vh units */
    width: 20%;
    height: 20%;
    border-radius: 5%;
}

/* Styling for headings and descriptions */
.heading {
    font-size: calc(var(--base-font-size) * 3);
    font-weight: bold;
    margin-top: 3vh; /* Adjust margin using vh units */
    text-align: center;
}

.sub-heading {
    font-size: calc(var(--base-font-size) * 2.4);
    font-weight: bold;
    margin-top: 1vh; /* Adjust margin using vh units */
    text-align: center;
}

.subtitle {
    font-size: calc(var(--base-font-size) * 2.2);
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: calc(var(--base-font-size) * 2);
    margin-top: 1vh; /* Adjust margin using vh units */
    text-align: center;
}

/* Styling for contact details */
.contact-details {
    font-size: calc(var(--base-font-size) * 1.8);
    margin-top: 2vh; /* Adjust margin using vh units */
    text-align: center;
}

.contact-item {
    margin-bottom: 1vh; /* Adjust margin using vh units */
}

.contact-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vh 0; /* Adjust padding using vh units */
    z-index: 999; /* Ensure it's above other elements */
}

/* Styling for Font Awesome icons */
.fa {
    padding-right: 0.1vh; /* Adjust padding using vh units */
}
