/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for Navbar */
.navbar {
    background-color: #000;
    overflow: hidden;
    text-align: center;
}

.navbar-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-item:hover {
    background-color: #333;
}

/* Styling for center image */
.center-image {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 20%;
    height: 20%;
    border-radius: 20%;
}

/* Styling for headings and descriptions */
.heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}

.sub-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/* Styling for contact details */
.contact-details {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.contact-item {
    margin-bottom: 10px;
}

.contact-tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 999; /* Ensure it's above other elements */
}

/* Styling for Font Awesome icons */
.fa {
    padding-right: 10px;
}

/* Media Query for Phone Support */
@media (max-width: 600px) {
    /* Adjust styles for smaller screens here */
    .center-image {
        width: 50%;
        height: 50%;
    }
    
    .heading {
        font-size: 20px;
    }
    
    .sub-heading {
        font-size: 18px;
    }
    
    .subtitle {
        font-size: 16px;
    }
    
    .description {
        font-size: 14px;
    }
    
    .contact-details {
        font-size: 16px;
    }
}
